# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*
gradle.properties
buildSrc/build
buildSrc/.gradle
plugins/nf-gadi/src/test
plugins/nf-gadi/build


# Ignore Gradle build output directory
build
work
out